.Tasks{
    width: 100%;
    color: white;
}
.Tasks h1{
    font-size: 30px;
}
.Tasks p{
    font-weight: 600;
}


.TaskZone{
    width: 600px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 60px;
}


.Task{
    width: 400px;
    border-top: 1px solid white;
    margin-top: 50px;
}
.Task h1{
    font-size: 20px;
}
.Task p{
    font-size: 15px;
    color: rgb(218, 77, 77);
}


/*-------Responsive-------*/

@media screen and (max-width: 767px) {
    .Tasks h1{
        font-size: 24px;
    }

    .TaskZone{
        width: 250px;
        height: 150px;
        margin-bottom: 40px;
    }

    .Task{
        width: 200px;
        margin-top: 0px;
    }
    .Task h1{
        margin: 10px 0px;
        font-size: 16px;
    }
    .Task p{
        font-size: 13px;
        color: rgb(218, 77, 77);
    }
}