Body{
  background-color: #292643;
}

.TestingArea{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Status{
  margin-top: 20%;
  color: white;
}